<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>  

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
        
        <div sec:authorize="isAuthenticated()">
		  This content is only shown to authenticated users.
		</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
		  This content is only shown to administrators.
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
		  This content is only shown to users.
		</div>
    </body>
</html>